PAYMENT_API_BASE_URL=http://<your server:port>/PyxisMasterApi
PAYMENT_PAGE_URL=http://<your server:port>/WebPayPage
PARTNER_ID=<partner id>
TERMINAL_ID=<terminal id>
AUTH_CREDENTIAL_USER=<user name>
AUTH_CREDENTIAL_PASSWORD=<password>
PYXIS_ACCESS=<api key>
LEGACY_PAYMENT_PAGE=false

